{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "semi": [2, "never"],
    "arrow-body-style": ["error", "as-needed"],
    "no-console": 0,
    "no-undef": 0,
    "no-underscore-dangle": 0,
    "react/jsx-uses-vars": 1
  }
}
